<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи с API</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <h1>🌐 Список пользователей</h1>
    <button @click="fetchUsers">Обновить список</button>

    <div v-if="loading">Загрузка...</div>
    <div v-else-if="error">{{ error }}</div>

    <div class="users">
        <div class="card" v-for="user in users" :key="user.id">
            <h3>{{ user.name }}</h3>
            <p>Email: {{ user.email }}</p>
            <p>Город: {{ user.address.city }}</p>
        </div>
    </div>
</div>

<script src="main.js"></script>
</body>
</html>
